<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kmj.ssgssg">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.kmj.ssgssg.GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_playstore_logo"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@drawable/ic_playstore_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Drwaing"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.kmj.ssgssg.ui.stamp.StampActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.kmj.ssgssg.ui.setting.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kmj.ssgssg.ui.diary.DiaryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao581fc808602a8f2c67218d7aa03ffa2f" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kmj.ssgssg.ui.login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.kmj.ssgssg.ui.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


    </application>

    <queries>
        <intent>
            <action android:name='com.instagram.share.ADD_TO_STORY' />
            <data android:mimeType='image/*' />
        </intent>
    </queries>

</manifest>